{%extends 'base.html'%}{% load static %} {% load crispy_forms_tags %} {% load bootstrap4 %} {% block content %} {% for group in groups %}
<div class="card-body ">
    <h5 class="card-title "><span>Group name:{{group.name}}</span></h5>
    <p class="card-text ">contacts :{{group.contact.name}}</p>
</div>
{%endfor%}
<div class="row justify-content-center">
    <a data-toggle="modal" data-target="#exampleModal2" class="btn btn-outline-dark">add a group</a></div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action=" " method="post" novalidate>
                    {% csrf_token %} {{form|crispy}}
                    <input type="submit" class="btn btn-sm btn-info " value="Save " />
                    <button type="button" class="btn btn-outline-danger btn-sm " data-dismiss="modal">Close
        </button>
                </form>

            </div>
        </div>
    </div>
</div>
{%endblock%}