{%load bootstrap4%}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Counter1-sms</title>
</head>

<body>

    <div class=" container send-sms-form ">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 sms-form" >
                <div class="form-group">
                    <form action="" method="POST">{% csrf_token %}
                    {{ form.as_p }}
                    <button  class="btn btn-success" type="submit">Submit</button><br><br>
                    </form>
                </div>                
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>

</body>


</html>
<style>
    body{
        background-color: rgb(29, 196, 29);
    
    }

    .send-sms-form{
        margin-top: 10%;
    }

    .sms-form{
        border: 2px solid rgb(100, 168, 100);
        background-color: rgb(247, 181, 59);
    }
</style>