

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    (% load staticfiles% )
    <link rel="stylesheet" href="(% static  'css/user.css'%)">

    
    <title></title>
 </head>
<body style="margin: 0%;">
    <div class="top">
        <div class="top-left">
            <button class="green-button">Add Contacts</button>
            <button class="green-button">Add Contacts from Csv</button>
            <button class="blue-button">Add group</button>
            <button class="blue-button">Send SMS</button>
        </div>  
        <div class="top-right">
            <input placeholder="Enter input to search" type="search"/>
        </div>  
    </div>
    <hr/>
    <div class="bottom">
        <div class="bottom-left">
            <table class="table" style="width:100%">
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th> 
                  <th>Phone number</th>
                  <th>email</th>
                </tr>
                <tr>
                  <td>Jill</td>
                  <td>Smith</td>
                  <td>pk@gmail.com</td>
                  <td>07xxxxxxx</td>
                 
                </tr>
                <tr>
                  <td>Eve</td>
                  <td>Jackson</td>
                  <td>pk@gmail.com</td>
                  <td>07xxxxxx</td>
                  
                </tr>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>pk@gmail.com</td>
                  <td>07xxxxxxx</td>
                </tr>
              </table>
        </div>

        <div class="bottom-right">
           

            <table style="width: 100%;">
                 <tr>
                     <th>Filter by group</th>
                 </tr>
            </table>
 
            <input class="input-small" placeholder="All" style="margin-left: 15px;"/><br/>
 
            <div class="filter-input">
                 <input placeholder="group" type="search" />
                 <button class="delete-button">Delete</button>
            </div>
         </div>
     </div>
 </body>
 </html>