<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">

    
    <title></title>
 </head>
<body>
    <div class="top">
        <div class="top-left">
            <button class="green-button">Add Contacts</button>
            <button class="green-button">Add Contacts from Csv</button>
            <button class="blue-button">Add group</button>
            <button class="blue-button">Send SMS</button>
        </div>  
        <div class="top-right">
            <input placeholder="Enter input to search" type="search"/>
        </div>  
    </div>
    <hr/>