{%extends 'base.html'%} {% load crispy_forms_tags %} {% load static%} {% load bootstrap4 %}
<!-- Content block -->

{% block content %}
<div class="top">
    <div class="top-left">
        <a href="{%url 'register_user' %}">
            <button class='green-button'>Add Contacts</button>
        </a>



        <button class="green-button">
        <a href="{%url 'profile_upload' %}">Upload Contacts</a></button>



        <button class="blue-button"><a data-toggle="modal" data-target="#exampleModal2">Add group</a></button>
        <a href="{% url 'lets_talk' %}"><button class="blue-button" >Send SMS</button></a>
    </div>

</div>
<hr />
<div class="bottom">
    <div class="bottom-left">
        <table class="table table-striped w-ful">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>email</th>
                    <th>Phone number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dat in data %}
                <tr>
                    <td>{{dat.id}}</td>
                    <td>{{dat.first_name}}</td>
                    <td>{{dat.last_name}}</td>
                    <td>{{dat.email}}</td>
                    <td>{{dat.phone}}</td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                <a href="{%url 'update_contact' dat.id%}"><i class="fas fa-pen-square"></i></a>
                            </div>

                        </div>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="bottom-right">
        <table style="width: 100%;">

            <tr>
                <th>Filter by group</th>
            </tr>
        </table>

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
            <div class="filter-input">
                <input placeholder="Search group" type="search" name="group" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
        <table style="width: 100%;">
            {% for group in groups %}
            <tr>
                <th>Group :{{group.name}}</th>
                <th><a class="btn btn-outline-primary btn-sm mr-3" href="{% url 'updateForm' group.id %}">Edit group</a>
                    <a class="btn btn-outline-primary btn-sm mr-3" href="{% url 'deleteForm' group.id %}">Delete group</a></th>
            </tr>
            <tr>
                <th>contacts</th>
                <th></th>

            </tr>
            <tr>
                <td>Name :{{group.contact.first_name}} </td>
                <td>Number:{{group.contact.phone}}</td>
            </tr>
            {%endfor%}

        </table>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form action=" " method="post" novalidate>
                    {% csrf_token %} {{form|crispy}}
                    <input type="submit" class="btn btn-sm btn-info " value="Save " />
                    <button type="button" class="btn btn-outline-danger btn-sm " data-dismiss="modal">Close
      </button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}